*{
    border:1px solid black;
    box-sizing:border-box;
}

#container{
    position:relative;
    left:100px;
    width:400px;
    height:400px;
}

#container #part1{
    position:relative;
    left:100px;
}

#container #part2{
    position:relative;
    right:100px;
}

#container #part3{
    position:relative;
    top:20px;
}

#container #part4{
    position:relative;
    bottom:20px;
}