*{
    border:1px solid black;
    box-sizing:border-box;
}

#container{
    position:fixed;
    width:400px;
    height:400px;
}

#container div{
    width:200px;
    height:200px;
}

#container #part1{
    position:fixed;
    left:0px;
    top:0px;
    background-color:orange;
}

#container #part2{
    position:fixed;
    right:0px;
    top:0px;
    background-color:lightblue;
}

#container #part3{
    position:fixed;
    right:0px;
    bottom:0px;
    background-color:lightgreen;
}

#container #part4{
    position:fixed;
    left:0px;
    top:0px;
    background-color:tomato;
}