#header{
    witdh:100%;
    background-color:orange;
}

#left{
    witdh:20%;
    background-color:lightblue;
}

#center{
    witdh:50%;
    background-color:tomato;
}

#right{
    witdh:20%;
    background-color:lightgreen;
}

#bottom{
    witdh:100%;
    background-color:gold;
}

