*{
    border:1px solid-black;
    box-sizing:border-box;
}

#part1{
    width:50%;
    float:left;
    background-color:green;
}

#part2{
    width:30%;
    float:left;
    background-color:lightblue;
}

#part3{
    clear:left;
    float:left;
    width:;
    background-color:;
}