.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Form{
  text-align: right;
    position:relative;
    left:25%;
    top:180px;
    margin: auto;
    height: 50%;
    width: 400px;
    border: 2px solid black;
    padding: 10px;
    
}

.Button{
    border: 2px solid black;
    background-color: rgb(232, 179, 142); /* Green background */
    padding: 8px 15px;

}

.EditContacts{

    position:relative;
    top:100px;
    left:250px;

    border: 1px solid black;

}

.EditContactsButton{

    position:relative;
    top:100px;
    left:250px;
    border: 2px solid black;
    background-color: rgb(232, 179, 142); /* Green background */

}

.contactList{/* Chenar lista */
  text-align: left;
  position: relative;
    right:25%;
    bottom:200px;
    margin: auto;
    height: 50%;
    width: 400px;
    border: 2px solid black;
 
    
    padding: 10px;
}

.contactForm{
  position: relative;
  
    width:80%;
    padding:10px;


    cursor: pointer; /* Pointer/hand icon */
    display: block; /* Make the buttons appear below each other */
}

.contactField{
    font-family:Courier;
    white-space:pre; /* or pre-wrap if you want wrapping to still work. */
}

#image{
  float:right;
  bottom: 20px;
  left:20px;
}

#listTitle{
  position: relative;
  right:25%;
  bottom:160px;
}

#formTitle{
  position: relative;
  left:25%;
  bottom:200px;
}

#btnImport{
  position: relative;

  bottom:250px;
}

#btnGetStarted{
  position: relative;
    background-color:Transparent;/* Green background */
    border: 1px solid rgb(0, 0, 0); /* Green border */
    
    padding: 40px 100px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    font-family: cursive;
    font-size: large;
    top:200px;
    border: 3px solid black;

}


#background{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('background2.png');

}

#background2{
  position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('b2.jpg');

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
